---
layout: lightbox
---
<div class="sub_navi"><a href="./galery.html">Galery</a><span class="icon">></span><a href="./landscape_galery.html">Landscape</a><span class="icon">></span><a href="./switzerland_galery.html">Switzerland</a><span class="icon">></span><span class="icon">></span><a href="./foothills_galery.html">Foothills of the Alps</a><span class="icon">></span><a href="./alpstein_galery.html">Alpstein</a></div>
<!-- Images used to open the lightbox -->
<div class="container-fluid">
 <div class="row">
  {% capture _ %}{% increment i %}{% endcapture %}
  {% for img in site.data.alpstein_galery.images %}
   <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 element">
     <div class="test" onclick="openModal();currentSlide({% increment i %})"><i class='fas fa-camera' style='font-size:36px'></i></div>
     <img src="{{ img.url }}" alt="{{ img.title }}">
   </div>
  {% endfor %}
  {% capture _ %}{% decrement i %}{% endcapture %}
  {% assign tot_pic = i%}
 </div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
 <span class="close cursor" onclick="closeModal()">&times;</span>
 <div class="modal-content">
  {% capture _ %}{% increment j %}{% endcapture %}
  {% for img in site.data.alpstein_galery.images %}
   <div class="mySlides">
    <div class="numbertext"></div>
    <img class="lightboxImg" src="{{ img.url }}">
   </div>
   <div class="container-fluid captionLightBox">
    <div class="row">
     <div class="col-2 prev" style="text-align:left"><a onclick="plusSlides(-1)">&#10094;</a></div>
     <div class="col-4" style="text-align:left">{{ img.caption }}</div>
     <div class="col-4" style="text-align:right">{% increment j %} / {{ tot_pic }}</div>
     <div class="col-2 next" style="text-align:right"><a onclick="plusSlides(1)">&#10095;</a></div>
    </div>
   </div>
  {% endfor %}

  <!-- Caption text -->
  <div class="caption-container">
   <p id="caption"></p>
  </div>
 </div>
</div>
</div>

