---
layout: galery_element
---
{% include nav_list.html title='Foothills of The Alps' %}
<div class="main_container_galery">
 <div class="container galery" onresize="adjustCaption()" onload="adjustCaption()">
  <div class="chapter row">
  {% for item in site.data.galery_test.images %}
   {% if item.index == 2 %}
    {% for entry in item.subitems %}
     {% if entry.index_pic == 1 %}
      {% if entry.subsubitems[0] %}
       {% for token in entry.subsubitems %}
        {% if token.subsubsubitems[0] %}
         {% if token.index_pic == 2 %}
          {% for trash in token.subsubsubitems %}
           <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 elem">
            <a href="{{ trash.link }}">
             <div class="caption">{{ trash.caption }}</div>
             <img class="pic" src="{{ trash.url }}" alt="{{ trash.title }}">
            </a>
           </div>
          {% endfor %}
         {% endif %}
        {% else %}
         <h2>Lightbox</h2>
        {% endif %}
       {% endfor %}
      {% endif %}
     {% endif %}
    {% endfor %}
   {% endif %}
  {% endfor %}
  </div>
 </div>
</div>




