.carousel img {
 width:100%
}

.fill {
  height: 750px;
  background-size: auto 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center
}

.carousel-caption {
  right:0%;
  left:0%;
  background-color:black;
  font-size:40px;
  opacity:0.5
}


