.footer{
 background-color: black;
 color: white;
 text-align:center;
 padding: 16px 0px 16px 0px;
 margin: 0px 0px 0px 0px;
}

.social {
 margin-right: 0px;
 margin-left: 0px;
 color: white;
}

.copyright {
 margin-right: 0px;
 margin-left: 0px;
 color: white;
 text-algin:center;

}

.reserved{
 margin-right: 0px;
 margin-left: 0px;
 color: white;
 text-algin:center;
}



.col social {
 marign-top: 8px;
 color:white;
}

.col copyright {
 marign-top: 8px;
 color:white;
}

.col reserved {
 marign-top: 8px;
 color:white;
}
