.main_container_galery {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 16px;
}

.title {
  padding-left: 8px;
}

.container, .galery{
  margin: 16px 0px 16px 0px;
  max-width: inherit;
}

.row div:last-child, .chapter div:last-child {
  padding: 0px 8px 0px 8px;
}

.row div:last-child, .chapter div:nth-child(3n) {
  padding: 0px 8px 0px 8px;
}

.col-sm-12, .col-md-12, .col-lg-6, .col-xl-6, .cont, .elem {
  padding: 0px 8px 0px 8px;
  margin-bottom: 16px;
}

.sub_navi {
    margin-bottom: 16px;
    background-color: white;
    color: black;
    font-size: 20px;
    margin-left:0.5%;
    margin-bottom: 2px;
}

@media only screen and (max-width:1500px) {
 .sub_navi {
   font-size: 20px;
   margin-bottom: 2px;
 }
}

@media only screen and (max-width:768px) {
 .sub_navi {  
   font-size: 20px;  
   margin-bottom: 2px;
 }
} 

.icon {
    margin: 0px 0.2em 0px 0.2em;
    font-weight: bold;
}
.sub_navi a {
    color: black;
    text-decoration: none;
}
.title {
    font-size: 20px;
}
.sub_navi a:hover {
    color: grey;
}

.caption {
    position: absolute;
    font-size: 20px;
    padding: 16px 16px 16px 16px;
    line-height: 1;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100px;
    margin-right: 0px;
    vertical-align: middle;
}

.main_container_galery img {
  width: 100%;
}

@media only screen and (max-width: 1800px) {
 .main_container_galery {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
 }
 .caption {
  width: 80%;
  font-size: 20px;
 }
}

@media only screen and (max-width: 992px) {
 .main_container_galery {
  margin-left: auto;  
  margin-right: auto;
  width: 90%;
 }
 .caption {
  width: 90%;
  margin-top: 0px;
 }
}

@media only screen and (max-width: 768px) {
 .main_container_galery {
   width: auto;
   margin: 16px 16px 16px 16px;
 }
 .caption {
   width: 50%;
 }
}

@media only screen and (max-width: 576px) {
 .main_container_galery {
   width: auto;
   margin: 16px 16px 16px 16px;
 }
 .caption {
  width: 50%;
 }
}

