.main_container_galery {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 16px;
}

.caption {
    position: absolute;
    font-size: 36px;
    padding: 16px 16px 16px 16px;
    line-height: 1;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 60%;
    margin-right: 0px;
    vertical-align: middle;
}

.main_container_galery img {
  width: 100%;
  margin: 0px 0px 16px 0px;
}

@media only screen and (max-width: 1200px) {
 .main_container_galery {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
 }
 .caption {
  width: 80%;
  font-size: 28px;
 }
}

@media only screen and (max-width: 992px) {
 .main_container_galery {
  margin-left: auto;  
  margin-right: auto;
  width: 90%;
 }
 .caption {
  width: 90%;
  margin-top: 0px;
 }
}

@media only screen and (max-width: 768px) {
 .main_container_galery {
   width: auto;
   margin: 16px 16px 16px 16px;
 }
 .caption {
   width: 50%;
 }
}

@media only screen and (max-width: 576px) {
 .main_container_galery {
   width: auto;
   margin: 16px 16px 16px 16px;
 }
 .caption {
  width: 50%;
 }
}

