.nav-menu a {
 display: flex;
 text-decoration: none;
 color: white;
 margin-right: 16px;
 margin:20px 16px 0px 0px;
 vertical-align:middle;
}

.nav-menu a:hover {
 display: flex;
 text-decoration: none;
 color: black;
 background-color:white;
}


.nav-container {
 background-color: black;
 display: flex;
 padding: 16px 0px 16px 16px;
 color: white;
 line-height: 1.0; 
}

.nav-bar {
 display: flex;
}

.nav-items {
 display: flex;
 font-size:28px;
}

.nav-title {
 padding-right: 8px;
 font-size:48px;
}

.nav-right {
 margin-left:auto;
}

.nav-toggle {
 display: none;
 font-size:28px;
 margin: 10px 16px 0px 0px;
}

@media only screen and (max-width: 768px) {
 .nav-bar,
 .nav-items, 
 .nav-container {
   flex-direction: column;
 }
 .nav-items {
   display: none;
 }
 .nav-right {
   margin-left: 0;
 }
 
 .nav-items {
   background-color: white;
   color:black;
   padding:8px 8px 0px 8px;
   margin: 16px 16px 0px 0px;
 }

 .nav-menu a {
   color: black;
   margin: 0px 8px 8px 0px;
 }
 
 .nav-menu a:hover {
   color: white;
   background-color:grey;
   margin-right:0;
 }


 .nav-toggle {
   align-self: flex-end;
   display: initial;
   position: absolute;
   cursor: pointer
 }
 .nav-show {
   display:flex;
 }
}
