<!-- NAV -->
<div class="main_nav">
 <div class="nav-container">
  <div class="nav-title">
   <a href="./index.html">fotophil.ch</a>
  </div>
  <div class="nav-menu nav-toggle" onclick="openMenuModal()">
   <i class="fas fa-bars"></i>
  </div>
  <nav class="nav-items nav-right">
     {% for item in site.data.navigation.menu %}
     {% if item.name == 'Galery' %}
      <div class="nav-menu"><a href="{{ item.url }}" class="a-nav">{{ item.name }}</a><div class="opener" onClick="openMenuGaleryModal()">+</div></div>
     {% else %}
      <div class="nav-menu"> <a href="{{ item.url }}" class="a-nav">{{ item.name }}</a></div>
     {% endif %}
   {% endfor %}
  </nav>
  </div>
 <div class="page_title">{{ include.title }}</div> 
</div>

<!-- Modal Window Nav for small screens -->
<div id="modalMenuSmall" class="modalMenuSmall">
 <div class="closeModal" onclick="closeMenuModal()">x</div>
 <div class="noGalery">
  <div class="nav-smmenu"><a href="./about.html">About</a></div>
  <div class="nav-smmenu"><a href="./contact.html">Contact</a></div>
  <div class="nav-smmenu"><a href="./inspiration.html">Inspiration</a></div>
  <div class="nav-smmenu menuGaleryTitle"><a href="./galery.html">Galery</a><div class="openSub" onClick="openGalerySub()">+</div></div>  
 </div>
 <div class="menuGalery">
   <div class="subMenuGalery">
    {% for item in site.data.galery_test.images %}
    {% assign outer_forloop = forloop %}
     <div class="subMenuGaleryTitle"><a href="{{ item.link }}">{{ item.caption }}</a><div class="openSubSub" onClick="openGalerySubSub({{ item.index }})">+</div></div>
      <div class="subsubMenuGalery">
       {% for entry in item.subitems %}
        <div class="subsubMenuGaleryTitle"><a href="{{ entry.link }}">{{ entry.caption }}</a>{% if entry.subsubitems[0] %}<div class="openSubSubSub" onClick="openGalerySubSubSub({{ entry.index_nav }})">+</div>{% endif %}</div>
        {% if entry.subsubitems[0] %}
         <div class="subsubsubMenuGalery">
          {% for token in entry.subsubitems %}
           <div class="subsubsubMenuGaleryTitle"><a href="{{ token.link }}">{{ token.caption }}</a></div>
          {% endfor %}
         </div>
        {% endif %}
       {% endfor %}
      </div>
    {% endfor %}
   </div>
 </div>
</div>

<!-- Modal Window Nav for Galery Menu for normal screens -->
<div class="modalMenuGalery">
 <div class="closeModal" onClick="closeMenuGaleryModal()">x</div>
  <div class="navNormalGalery">
   {% for item in site.data.galery_test.images %}
   {% assign outer_forloop = forloop %}
    <div class="navNormalTitle"><a href="{{ item.link }}">{{ item.caption }}</a><div class="mainPlus">+{{ outer_forloop.index }}</div></div>
     <div class="navNormalGalerySub">
      {% for entry in item.subitems %}  
       <div class="navNormalTitleSub"><a href="{{ entry.link }}">{{ entry.caption }}</a>{% if entry.subsubitems[0] %}<div class="mainPlusSub">+{{ entry.index_nav }}</div>{% endif %}</div>
       {% if entry.subsubitems[0] %}
        <div class="navNormalGalerySubSub">
         {% for token in entry.subsubitems %}
         <div class="navNormalTitleSubSub"><a href="{{ token.link }}">{{ token.caption }}</a></div>
         {% endfor %}
        </div>
       {% endif %}
      {% endfor %}
     </div>
   {% endfor %}
  </div>
</div>

