<!-- NAV -->
<nav class="navbar navbar-expand-md navbar-light py-4 navi_custom">
  <div class="container">
     <a class="navbar-brand">
      <h3 class="d-inline align-middle pl-3">{{ site.title }}</h3>
     </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      {% for item in site.data.navigation.menu %}
        <li class="nav-item">
	  <a href="{{ site.baseurl }}{{ item.url }}" class="nav-link">{{ item.name }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>
