<div class="social-links">
  <a href="mailto:{{ site.email }}">
    <i class="fa fa-envelope fa-2x" ></i>
  </a>
  <a target="_blank" href="https://de-de.facebook.com/{{ site.facebook_username }}">
    <i class="fab fa-facebook fa-2x"></i>
  </a>
  <a target="_blank" href="https://www.instagram.com/{{ site.insta_username }}/">
    <i class="fab fa-instagram fa-2x"></i>
  </a>
  <a target="_blank" href="https://www.flickr.com/photos/128739019@N02/">
    <i class="fab fa-flickr fa-2x"></i>
  </a>
  <a target="_blank" href="https://github.com/{{ site.github_username }}">
    <i class="fab fa-github fa-2x"></i>
  </a>
</div>
